body {
    background-color: #2e2d2d;
    display: flex;
    height: 415vh;
    justify-content: center;
}
.container {
    width: 600px;
    margin-left: 35px;
    margin-right: 20px;
    margin-top: 38px;
}

.lateral {
    display: flex;
    flex-direction: column;
}

.video-principal {
    display: grid;
    gap: 10px;
    color: white;
}

.aside {
    margin-top: 38px;
    margin-bottom: 20px;
}

.video {
    font-family: "Roboto", sans-serif;
    display: flex;
    color: white;
}

.video p {
    font-size: 11px;
    font-weight: 300;
}

.video .titulo {
    font-size: 14px;
    font-weight: 700;
}

.lateral div {
    margin-bottom: 20px;
}

.lateral img {
    margin-right: 10px;
}
